@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-slate-800;
  }
  body {
    @apply bg-slate-950 text-slate-100;
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradient 8s linear infinite;
  }

  @keyframes gradient {
    to {
      background-position: 200% center;
    }
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
